<a href="https://colab.research.google.com/github/smritmix3/Voice-flight-bot/blob/voiceip/Date_filter_from_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import datetime
from datetime import datetime, timedelta

In [ ]:
age = 4

In [ ]:
createDate = pd.read_excel('Unassign.xls')

In [ ]:
createDate.head()

                               Invoice Name  ...             Create Date
0  HENRY SCHEIN, INC.(HENR001#000)-87087374  ... 2021-05-13 14:24:19.387
1  HENRY SCHEIN, INC.(HENR001#000)-87268579  ... 2021-05-13 14:44:37.867
2  HENRY SCHEIN, INC.(HENR001#000)-87268535  ... 2021-05-13 14:45:12.337
3  HENRY SCHEIN, INC.(HENR001#000)-87268558  ... 2021-05-13 14:45:19.460
4  HENRY SCHEIN, INC.(HENR001#000)-87602937  ... 2021-05-27 10:41:22.367

[5 rows x 8 columns]

In [ ]:
createDate['Create Date'] = pd.to_datetime(createDate['Create Date'])

In [ ]:
createDate.head(1)

                               Invoice Name  ...             Create Date
0  HENRY SCHEIN, INC.(HENR001#000)-87087374  ... 2021-05-13 14:24:19.387

[1 rows x 8 columns]

In [ ]:
calculate_end_date = datetime.today().strftime('%Y-%m-%d')
calculate_start_date = timedelta(days=age)
start_date = calculate_start_date.days
abc = calculate_end_date - start_date
print(calculate_end_date)
print(start_date)
print(abc)

TypeError: ignored

In [ ]:
start_date = date_N_days_ago
end_date = datetime.today().strftime('%Y-%m-%d')

In [ ]:
date_filter = (createDate['Create Date'] >= start_date) & (createDate['Create Date'] <= end_date)

In [ ]:
df_date_filter = createDate.loc[date_filter]

In [ ]:
df_date_filter.head(10)

In [ ]:
df_date_filter.to_csv('fileName.csv')
from google.colab import files
files.download("fileName.csv")